/* Estilos generales */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F2FDFB;
}

.main-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  width: 80%;
  padding: 20px;
  position: relative;
}

.main-content h2 {
  color: #333;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}

.main-content h3 {
  color: #333;
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 1rem;
  text-align: left;
}

.account-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
}

.account-card {
  background: linear-gradient(135deg, #74d6c3, #0d9488); /* Degradado de verde a turquesa */
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-align: left;
}

.account-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.account-card h4 {
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: white;
}

.account-card p {
  font-size: 16px;
  margin: 0.3rem 0;
  color: #e1e1e1;
}

.new-account-button {
  position: absolute;
  top: 80px; /* Ajuste para que no se superponga con el header */
  right: 20px;
  background: #74d6c3; /* Fondo verde claro */
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.new-account-button:hover {
  background: #5ec2b1;
  transform: scale(1.05);
}

.section-title {
  width: 100%;
  text-align: left;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
  border-bottom: 2px solid #ddd;
}
