@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

*{
    
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
.container{
    width: 100%;
}

.recuperar_contrasena{
    margin-top: 10px;
    font-size: 14px;
    color: #000;
}