/* Estilos de la barra lateral */
.main-menu {
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 60px; /* Ajustar este valor según la altura de tu header */
  bottom: 0;
  height: calc(100% - 60px); /* Ajuste para el espacio debajo del header */
  left: 0;
  width: 60px;
  overflow: hidden;
  transition: width 0.1s ease-in-out; /* Transición suave para el ancho */
  z-index: 1000;
}

.main-menu:hover,
.main-menu.expanded {
  width: 250px; /* Ancho expandido */
}

.main-menu>ul {
  margin: 20px 0;
  padding: 0;
  border-radius: 10px;
}

.main-menu li {
  position: relative;
  display: flex;
  border-radius: 10px;
  align-items: center;
  width: 90%; /* Ancho de los elementos de menú */
  margin: 10px auto; /* Centramos los elementos */
  padding: 10px 15px; /* Espacio interior ajustado para separación del borde */
  cursor: pointer;
  transition: background-color 0.1s ease-in-out; /* Transición suave para el fondo */
}

.main-menu li:hover,
.main-menu li.active {
  background-color: #0d9488; /* Color de fondo al pasar el mouse o activar */
  border-radius: 10px; /* Añadir borde redondeado */
}

.main-menu li>a {
  display: flex;
  align-items: center;
  width: 100%;
  color: #134e4a;
  border-radius: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px; /* Tamaño de fuente más grande */
  text-decoration: none;
  transition: all 0.1s ease-in-out; /* Transición suave para todos los cambios */
  white-space: nowrap; /* Evitar que el texto se rompa */
  overflow: hidden; /* Ocultar texto desbordante */
}

.main-menu .nav-icon {
  min-width: 40px; /* Asegura que el ícono tenga suficiente espacio */
  height: 40px;
  text-align: center;
  font-size: 24px; /* Tamaño de ícono más grande */
  margin-right: 15px; /* Espacio entre ícono y texto */
}

.main-menu .nav-text {
  flex: 1;
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  opacity: 0; /* Ocultar texto inicialmente */
  transition: opacity 0.1s ease-in-out; /* Transición de opacidad */
}

.main-menu:hover .nav-text,
.main-menu.expanded .nav-text {
  opacity: 1; /* Mostrar texto al expandir */
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
}

/* Iconos de menú */
.main-menu ul li .bx {
  font-size: 24px;
  margin-right: 10px;
}

.main-menu li:hover>a,
.main-menu li.active>a {
  color: #fff;
  background-color: #0d9488; /* Color de fondo al estar activo */
  border-radius: 10px;
}

.area {
  float: left;
  background: #0d9488;
  width: calc(100% - 60px); /* Ajuste para el espacio de la barra lateral */
  height: 100%;
  border-radius: 10px;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
