.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 80px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}

.inputContainer>.errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.inputBoxSmall {
  height: 48px;
  width: 315px; /* Ajusta el tamaño según sea necesario */
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.inputButton:hover {
  background-color: #0f8e7d;
  transform: scale(1.05);
}

.dropdownContainer {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdownButton {
  width: 400px; /* Match the width of inputBox */
  height: 48px;
  background-color: #68b0ab;
  color: white;
  font-size: large;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box; /* Ensure padding does not affect the width */
}

.dropdownButton .arrow {
  font-size: 18px;
}

.dropdownMenu {
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 400px; /* Match the width of inputBox */
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  box-sizing: border-box; /* Ensure padding does not affect the width */
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Ajustado para manejar correctamente la información de la cuenta */
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}

.account-info {
  display: flex;
  flex-direction: column;
}

.balance-info {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Añadir esto para espaciar los elementos */
  width: 100%; /* Asegurar que ocupe todo el espacio disponible */
}

.balance-text {
  flex: 1; /* Esto permite que el texto ocupe el espacio disponible */
}

.toggleBalanceButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

.toggleBalanceButton img {
  width: 24px;
  height: 24px;
}

.receiverAccountContainer {
  display: flex;
  align-items: center;
}

.validateButton {
  margin-left: 10px;
  padding: 10px;
  font-size: large;
  background-color: #68b0ab;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.validateButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.validateButton:hover:enabled {
  background-color: #0f8e7d;
}

