@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body, html {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  height: 100vh;
}

.gestionar-cuentas-container {
  display: flex;
  background-color: #ffffff;
  width: 400px;
  max-width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.Sidebar {
  width: 250px;
  background-color: #2C2F48;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.main-content h2 {
  color: #333;
  font-weight: bold;
}

.main-content h3 {
  color: #333;
  font-weight: bold;
  margin-top: 20px;
}

.main-content .account-cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.main-content .account-card {
  background-color: #2C2F48;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-content .account-number {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-content .anadir-cuenta {
  background-color: #f5f5f5;
  color: rgb(67, 67, 67);
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

.main-content .anadir-cuenta h4 {
  color: rgb(67, 67, 67);
  margin-top: 30px;
  font-size: 100px;
  text-align: center;
}

.main-content .anadir-cuenta p {
  color: rgb(67, 67, 67);
  text-align: center;
}
